body {
    padding: 0;
    margin: 0;
    background: #151843;
}

//This is the whole entire container
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#sun_main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*position: absolute;
    right:  100px;
    top: 90px;
    width: 350px;
    height: 350px;
    z-index: 1000;
    */
}

#sun {
    width: 350px;
    height: 350px;
    border: 10px solid orange;
    border-radius: 100%;
    background: radial-gradient(yellow, orange, red);
    animation: glow 4s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 20px orange;        
    }
    50% {
        box-shadow: 0 0 1150px orange;
    }
}

#face > * {
    background: black;
    position: absolute;
}

#face {
    width: 140px;
    position: relative;
    top: 164px;
    left: 105px;
}

.eye {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.eye:first-child {
    right: 0px;
}

.cheek {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    left: -60px;
    top: 15px;
    border: 5px solid red;
    background: orange !important;
}

.cheek1 {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 5px solid red;
    background: orange !important;
    top: 15px;
    right: -60px;
}

/*.cheek {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    top: 27px;
    left: -51px;
    background-color: red !important;
}

.cheek:first-child {
    right: 12px;
}
*/
.mouth {
    width: 50px;
    height: 30px;
    border-radius: 10px 10px 55px 55px;
    top: 33px;
    left:  44px;
}
