body {
    padding: 0;
    margin: 0;
    background: #151843;
}

//This is the whole entire container
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#sun_main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*position: absolute;
    right:  100px;
    top: 90px;
    width: 350px;
    height: 350px;
    z-index: 1000;
    */
}

#sun {
    width: 350px;
    height: 350px;
    border: 10px solid orange;
    border-radius: 100%;
    background: radial-gradient(yellow, orange, red);
    animation: glow 4s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 20px orange;        
    }
    50% {
        box-shadow: 0 0 1150px orange;
    }
}

#face > * {
    background: black;
    position: absolute;
}

#face {
    width: 140px;
    position: relative;
    top: 164px;
    left: 105px;
}

.eye {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.eye:first-child {
    right: 0px;
}

.cheek {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    left: -60px;
    top: 15px;
    border: 5px solid red;
    background: orange !important;
}

.cheek1 {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 5px solid red;
    background: orange !important;
    top: 15px;
    right: -60px;
}

/*.cheek {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    top: 27px;
    left: -51px;
    background-color: red !important;
}

.cheek:first-child {
    right: 12px;
}
*/
.mouth {
    width: 50px;
    height: 36px;
    background: none !important;
    border-radius: 10px 10px 55px 55px;
    box-shadow: inset 0px -10px 0px black;
    top: 33px;
    left:  44px;
}

.cloud {
    position: absolute;
    //overflow: hidden;
    width: 258px;
    height: 150px;
    transition: right 0.5s ease-in-out infinite;
    z-index: 10;
}

.cloud:nth-child(1) {
    top: 310px;
    right: 20px;
    transform: scale(0.7);
}

.cloud:nth-child(2) {
    top: 300px;
    left: 350px;
    transform: scale(0.7);
}

.cloud:nth-child(3) {
    top: 350px;
    right: 300px;
    transform: scale(1.2);
}

.cloud:nth-child(4) {
    top: 190px;
    right: 150px;
    transform: scale(1.0);
}

.cloud:nth-child(5) {
    top: 345px;
    left: 125px;
    transform: scale(1);
}

.cloud_puff {
    background-color: white;
    box-shadow: inset 10px -10px 0px #a1a1a1;
    border-radius: 100%;
    position: absolute;
    bottom: -18px;
    animation-name: clouds;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes clouds {
    from {
        transform: translate(0px, -55px);
    }
    to {
        transform: translate(0px, -30px);
    }

}

.cloud_puff:nth-child(1) {
    width: 63px;
    height: 63px;
    left: 0;
}

.cloud_puff:nth-child(2) {
    width: 87px;
    height: 87px;
    left: 40px;
}
.cloud_puff:nth-child(3) {
    width: 131px;
    height: 131px;
    left: 100px;
}
.cloud_puff:nth-child(4) {
    width: 87px;
    height: 87px;
    right: 0px;
}

.st10 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}
